body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 480px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(251, 249, 255, 1);
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.branding-container {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.logo {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    max-width: 2.5rem;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
}

.text {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
}

.header-sub-text {
    width: 100%;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
}

.profile {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.profile img {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.navigation {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}

.navigation-list {
    padding: 0;
    margin: 0;
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.navigation-item {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px dashed rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.navigation-link {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
    gap: 0.5rem;
}

.navigation-link span {
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.navigation-link i {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
}

.navigation-item:hover {
    background: rgba(0, 0, 0, 1);
}

.navigation-item:hover .navigation-link span,
.navigation-item:hover .navigation-link i {
    color: rgba(255, 255, 255, 1);
}

.dashboard-content {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 7rem;
    padding: 1rem;
}

.dashboard-content-header {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 1rem;
}

.dashboard-content-header-text {
    width: max-content;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 400;
    text-align: left;
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}