body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 480px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(251, 249, 255, 1);
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    border-radius: 0 0 1rem 1rem;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 1rem;
}

.branding-container {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.logo {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.logo img {
    max-width: 2.5rem;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
}

.text {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header-text {
    width: 100%;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
}

.header-sub-text {
    width: 100%;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.75);
    text-align: left;
}

.profile {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.profile img {
    width: 2.5rem;
    height: auto;
    object-fit: contain;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.navigation {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
}

.navigation-list {
    padding: 0;
    margin: 0;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.navigation-outer {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.navigation-inner {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.navigation-inner.open {
    max-height: 100px;
    opacity: 1;
}

.navigation-item {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    list-style: none;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
}

.expander {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    padding-bottom: 0.5rem;
}

.expander i {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    text-align: left;
}

.navigation-link {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
    transition: all 0.3s ease-in-out;
    gap: 0.5rem;
}

.navigation-link span {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 1);
}

.navigation-link i {
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 700;
    text-align: left;
}

.navigation-item:hover {
    background: rgba(0, 0, 0, 1);
}

.navigation-item:hover .navigation-link span,
.navigation-item:hover .navigation-link i {
    color: rgba(255, 255, 255, 1);
}

.hidden {
    display: none;
}

.content {
    width: 100%;
    margin-top: 9rem;
    box-sizing: border-box;
    padding: 1rem;
    margin-bottom: 1rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.grid-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.content-card {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    margin-bottom: 1rem;
}

.content-card:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.content-card:hover .card-header,
.content-card:hover .card-body {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.content-card:hover .card-footer {
    color: rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.card-header {
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.day {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.date {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 0.75rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.card-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-top: 0.5rem;
    gap: 0.25rem;
}

.working-place {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.working-with {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
}

.card-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 0.5rem;
    border: 1px dashed rgba(0, 0, 0, 1);
    border-radius: 0.5rem;
}

.special-note {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    padding: 0.25rem;
}

.add-working {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    bottom: 4.5rem;
    right: 1.5rem;
}

.add-btn {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    opacity: 0.9;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
}

.add-btn:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    opacity: 1;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1rem;
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background: rgba(255, 255, 255, 1);
    padding: 0.25rem;
    border-radius: 1rem 1rem 0rem 0rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

.footer-content {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
}

.footer-item {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    padding: 0.25rem;
}

.footer-item a {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.5rem;
    line-height: 0.5rem;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    padding: 0.25rem;
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.footer-item a:hover {
    text-decoration: underline;
}

.add-working-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: calc(2rem + 1px);
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    max-height: 0;
    opacity: 0;
}

.add-working-details-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-sizing: border-box;
    border-radius: 1rem;
    background: transparent;
}

.add-working-details-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.add-working-details-header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.add-working-details-header-title {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: left;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.add-working-details-header-close {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    top: 1rem;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    cursor: pointer;
}

.add-working-details-body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.add-working-details-body form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.add-working-details-body-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.add-working-details-body-content-item-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 1rem;
}

.add-working-details-body-content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 0.25rem;
}

.add-working-details-body-content-item select {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0.25rem;
}

.add-working-details-body-content-item select option {
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    background: transparent;
}

.add-working-details-body-content-item input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0.25rem;
    text-transform: uppercase;
}

.add-working-details-body-content-item input::placeholder {
    font-size: 0.75rem;
    line-height: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
}

.add-working-details-body-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.add-working-details-body-footer-submit {
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 1);
    cursor: pointer;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    text-transform: uppercase;
}

.add-working-details-body-footer-submit:hover {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

.add-working-details.open {
    max-height: 100%;
    opacity: 1;
}