@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
}

.wrapper {
    max-width: 480px;
    width: 100%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(251, 249, 255, 1);
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-sizing: border-box;
}

.logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 50%;
    height: auto;
    object-fit: contain;
}

.text-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 400;
    text-align: center;
}

.sub-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    line-height: 0.8rem;
    font-weight: 300;
    font-style: italic;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.sign-in {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.button #duplicate-button {
    max-width: max-content;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 1rem;
    outline: none;
    background: rgba(0, 0, 0, 1);
    color: rgba(251, 249, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    gap: 1rem;
    box-sizing: border-box;
}

#duplicate-button:hover {
    background: rgba(251, 249, 255, 1);
    color: rgba(0, 0, 0, 1);
}

#duplicate-button span {
    font-size: 0.65rem;
    line-height: 0.65rem;
    text-transform: uppercase;
}

#duplicate-button i {
    font-size: 2rem;
    line-height: 2rem;
}

#google-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scaleY(2.45) scale(0.93);
    opacity: 0;
}