<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <link href='https://cdn.boxicons.com/3.0.6/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href='https://cdn.boxicons.com/3.0.6/fonts/brands/boxicons-brands.min.css' rel='stylesheet'>
    <title>WT | Home</title>
</head>

<body>

    <!-- Auth Section Start -->
    <div class="wrapper">
        <div class="container">
            <div class="logo-container">
                <div class="image-wrapper">
                    <div class="image">
                        <img src="/static/image/logo-2-no-bg-no-text.png" alt="">
                    </div>
                </div>
                <div class="text-wrapper">
                    <div class="text">
                        WORKING TRACKER
                    </div>
                    <div class="sub-text">
                        Your daily report manager!
                    </div>
                </div>
            </div>
            <div class="sign-in">
                <div class="button">
                    <div id="google-button"></div>
                    <button id="duplicate-button"><i class='bxl  bx-google'></i><span>Sign In With
                            Google</span></button>
                </div>
            </div>
        </div>
    </div>
    <!-- Auth Section End -->

    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script src="static/js/main.js"></script>
</body>

</html>